p {
  font-size: 1.2rem;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
}

h1, h2, h3, h4, h5 {
  font-size: 2rem;
}

.title {
  font-size: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section, .excel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 0;
}

.pic1, .pic2, .pic3 {
  max-width: 80%;
}

.sidenote{
  text-align: center;
}

.warning {
  font-size: 1.8rem;
  text-align: center;
}

.author {
  font-size: 0.8rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  
  width: 50%;
  text-align: left;
  padding: 8px;
}

td:last-child, th:last-child {
  border-right: none;
}